*#
*.iml
*.ipr
*.iws
*.jar
*.sw?
*~
.#*
.*.md.hotml
.DS_Store
.classpath
.factorypath
.gradle
.idea
.metadata
.project
.recommenders
.settings
.springBeans
/build
/code
MANIFEST.MF
_site/
activemq-data
bin
build
build.log
dependency-reduced-pom.xml
dump.rdb
interpolated*.xml
lib/
manifest.yml
overridedb.*
settings.xml
target
transaction-logs
.flattened-pom.xml
secrets.yml


#store-front
store-front/build/
store-front/benchpress-build/
store-front/.DS_Store
store-front/gen_docs.disable
store-front/test.disable
store-front/regression/temp*.html
store-front/performance/temp*.html
store-front/.idea/workspace.xml
store-front/angular.js.tmproj
store-front/node_modules/
store-front/bower_components/
store-front/angular.xcodeproj
store-front/libpeerconnection.log
store-front/npm-debug.log
store-front/tmp/
store-front/scripts/bower/bower-*
.vscode
*.log
*.stackdump
.idea
*.iml
.agignore
.lvimrc
*~
*.swp


#admin-portal
admin-portal/build/
admin-portal/benchpress-build/
admin-portal/.DS_Store
admin-portal/gen_docs.disable
admin-portal/test.disable
admin-portal/regression/temp*.html
admin-portal/performance/temp*.html
admin-portal/.idea/workspace.xml
admin-portal/angular.js.tmproj
admin-portal/node_modules/
admin-portal/bower_components/
admin-portal/angular.xcodeproj
admin-portal/libpeerconnection.log
admin-portal/npm-debug.log
admin-portal/tmp/
admin-portal/scripts/bower/bower-*
